singularity.enabled = true
singularity.cacheDir = "$baseDir/sif_images"

conda.enabled = true


executor {
    $slurm {
        // total number of jobs that can be submitted at the same time
        queueSize = 40
    }

    $local {
        cpus = 8
        // total number of jobs that can be submitted at the same time
        queueSize = 10
    }
}

profiles {

    // local
    standard {

        process{
            executor = 'local'
            cpus = 8
            container = 'plaquette/panx:dev'
            singularity.runOptions = "-B $baseDir"
            // conda = 'env/f_block_para.yml'
        }


    }

    cluster {
        

        process {

            executor = 'slurm'
            container = 'plaquette/panx:dev'
            singularity.runOptions = "-B $baseDir"
            

            withLabel: 'q_demo' {
                time = '00:30:00'
                cpus = 8
                memory = '10G'
                clusterOptions = '--qos=30min'
            }


        }
    }
}